# Streamlit - UI
streamlit

# Google Gemini
google-generativeai

# LangChain + LangGraph
langchain
langchain-google-genai
langchain-groq
langgraph

# Image processing
pillow

# Charts
plotly

# Database
# SQLite 

# Environment variables
python-dotenv